NODE_ENV=development

PORT=5000

DATABASE_URL=

JWT_ACCESS_SECRET=

JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_EXPIRES_IN=7d

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PASSWORD=

CATALOG_USER_EMAIL=
CATALOG_USER_NAME=
CATALOG_USER_PASSWORD=



BCRYPT_SALT_ROUNDS=12

CORS_ORIGIN=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=